@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --font-sans: var(--font-jakarta-sans), ui-sans-serif, system-ui;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background-color: #0d0d0d;
  color: var(--foreground);
  font-family: var(--font-jakarta-sans);
}